@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="background-color:white">

    <div class="jumbotron" style="background-image:url(../../Images/Header-01.png)">
            <h2 style="color:white; text-align:center; font-size:40px; font-family:Arial">Car Services</h2>

        </div>
   

    <div class="row" style="color:black;  text-transform: uppercase; font-size:20px;font-variant: small-caps; font-weight: bold; ">
        <div class="col-md-4">
            <a target="_blank" href="fjords.jpg">
                <img src="~/Images/mechanical Repairing.jpg" alt="Fjords" width="300" height="200">
            </a>
            <div class="desc">Mechanical Repairs</div>
        </div>


        <div class="col-md-4">
            <a target="_blank" href="fjords.jpg">
                <img src="~/Images/Polishing.jpeg" alt="Fjords" width="300" height="200">
            </a>
            <div class="desc">Car Polishing and Detailing</div>
        </div>


        <div class="col-md-4">
            <a target="_blank" href="fjords.jpg">
                <img src="~/Images/Int Ext.png" alt="Fjords" width="300" height="200">
            </a>
            <div class="desc">Exterior And Interior Cleaning</div>
        </div>

        <div class="col-md-4">
            <a target="_blank" href="fjords.jpg">
                <img src="~/Images/Inseption.jpg" alt="Fjords" width="300" height="200">
            </a>
            <div class="desc">Inspection And Valuation</div>
        </div>

        <div class="col-md-4">
            <a target="_blank" href="fjords.jpg">
                <img src="~/Images/AC.jpg" alt="Fjords" width="300" height="200">
            </a>
            <div class="desc">AC Repairs</div>
        </div>

        <div class="col-md-4">
            <a target="_blank" href="fjords.jpg">
                <img src="~/Images/oiling.jpg" alt="Fjords" width="300" height="200">
            </a>
            <div class="desc">Oiling</div>
        </div>
    </div>


</div>

    